extends layout

block content 
    dialog#new-post-modal
        article
            header
                h1 New Post
            form
                input(type="text" placeholder="Title" name="title")
                textarea(name="content" placeholder="Content")
                button(type="submit" hx-post='/posts' hx-swap="beforebegin" hx-target="#post-container" onclick="toggleModal(event)" data-target="new-post-modal") Post

    if posts
        div#post-container
            for post in posts
                article(id=`post-${post.id}`)
                    hgroup
                        h6=post.title
                        p=post.user.username
                    p=post.content
                    footer.post-controls
                        div(hx-post=`/likes/${post.id}` hx-swap="innerHTML transition:true").post-controls-inner
                            button: i.fa-solid.fa-heart
                            p=post.likes.length
                        div.post-controls-inner
                            i.fa-solid.fa-comment
                            p=post.comments.length
                        if post.user_id == user.id
                            div(hx-get=`/posts/${post.id}/edit` hx-swap="outerHTML transition:true" hx-target=`#post-${post.id}` data-tooltip="Edit") 
                                button: i.fa-solid.fa-pen
                            div(hx-delete=`/posts/${post.id}` hx-swap="outerHTML transition:true" hx-target=`#post-${post.id}` data-tooltip="Delete").post-controls-inner
                                button: i.fa-solid.fa-trash

